<div class="form-container">
	<div class="col-md-6 col-md-offset-3">
		<div class="new-book-form">
			<br>
			<h1>New Staff</h1>

			<%= render 'form', staff: @staff %>
			<%= link_to 'Back', staffs_path %>
			<br>
		</div>
	</div>
</div>