<h1>Editing Newsletter Subscriber</h1>

<%= render 'form', newsletter_subscriber: @newsletter_subscriber %>

<%= link_to 'Show', @newsletter_subscriber %> |
<%= link_to 'Back', newsletter_subscribers_path %>
