<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
  <div class="row">
    <div class="col-sm-6">
      <div class="container">
        <h1>Today</h1>
      </div>  
    </div>
    <div class="col-sm-6">
      <div class="create-btn-container">
        <div class="new-btn">
          <%= link_to '+ Create a new task', new_task_path, :class => 'waves-effect btn-large' %>
        </div>
      </div>  
    </div>
  </div>  
  <hr>  



   
  </div>
<% end %>