<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
  <div class="row">
    <div class="col-sm-6">
      <div class="container">
        <h1>Today</h1>
      </div>  
    </div>
    <div class="col-sm-6">
      <div class="create-btn-container">
        <div class="new-btn">
          <%= link_to '+ Create a new task', new_task_path, :class => 'waves-effect btn-large' %>
        </div>
      </div>  
    </div>
  </div>  
  <hr>  

  <div class="row container">
    <div class="col-sm-5">
      <h2>Checks</h2>  
        <% @ticks.each do |tick| %>
          <%= link_to edit_tick_path(tick) do %>
            <div class="book-index-desc task">
              <div class="book-index-content">
                <div class="left">
                  <p><%= tick.task.description %></p>
                </div>
                <div class="right">
                  <div class="regularity">
                    <% if tick.task.regularity.name == "Daily" %>
                    <p class="tick-daily">.</p>
                    <% end %>
                    <% if tick.task.regularity.name == "Weekly" %>
                      <p>Weekly</p>
                    <% end %>
                    <% if tick.task.regularity.name == "Monthly" %>
                      <p>Monthly</p>
                    <% end %>
                  </div>
                  <% if tick.complete == true %>
                    <p class="complete-true">&#10003;</p>
                  <% else %>
                    <p class="complete-false">&#x2716;</p>
                  <% end %>
                </div>
                <hr>
                </div>  
              </div>   
            <% end %>
          <% end %>
        <% end %>
    </div>

   
  </div>
<% end %>