<div class="row container style-links">
	<div class="well signin">
		<% if user_signed_in? && current_user.admin == true %>
			<h1>New Blog</h1>
		
			<%= render 'form', blog: @blog %>
			<%= link_to 'Back', blogs_path %>

		<% end %>
	</div>
</div>