<% if user_signed_in? && current_user.admin == true %>
	<div class="row container style-links">
		<div class="well signin">
			<h1>New Blog</h1>
		
			<%= render 'form', blog: @blog %>
			<%= link_to 'Back', blogs_path %>
		</div>
	</div>
<% end %>	