<p>
Hello there!
<br><br>
Thank you for requesting an invitation to work with Minibarra — you've officially been added the queue. 
<br><br>
All our customers go through a quick vetting process. We just want to make sure we're right for eachother. The team are rushing through applications as fast as possible. The typical wait time is less than 24 hours. 
<br><br>
You're welcome to reply to this email at any time. Alternatively, you can call us on 020 8123 2715. 
<br><br>
Speak soon!
<br><br>
Tom
<br><br>
Founder
<br><br>
p.s. Just in case you're wondering — you won't be charged anything until you're up and running with Minibarra. 
<br><br>

</p>
