<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<style>
	.welcome-email-container {
	background-color: #f2f2f2;
	padding: 25px 50px;
	font-family: 'Open sans', sans-serif;
}

.welcome-email {
	background-color: white;
	padding: 25px 50px;
}

.founder {
	font-weight: 600;
}

.minibarra {
	color: #ff5f5e;
}

.footer {
	text-align: center;
	font-size: 10px;
}

.copyright {
	text-decoration: italic;
}
</style>
<div class="welcome-email-container">
	<div class="welcome-email">
		<p>
			Hello there!
		</p>
		<p>
			Thank you for requesting an invitation to work with Minibarra — you've officially been added the queue.
		</p>
		<p>
			All our customers go through a quick vetting process. We just want to make sure we're right for eachother. The team are rushing through applications as fast as possible. The typical wait time is less than 24 hours.
		</p>
		<p>
			You're welcome to reply to this email at any time. Alternatively, you can call us on 020 8123 2715.
		</p>
		<p>
			Speak soon!
		</p>
		<p>
			Tom
		</p>
		<p>
		p.s. Just in case you're wondering —&nbsp;you won't be charged anything until you're up and running with Minibarra. 
		</p>		
		<p class="founder">
			Founder | <span class="minibarra">Minibarra</span>
		</p>

		<p>
			(+44) 020 8123 2715
		</p>



	</div>

	<div class="footer">
		<p class="copyright">Copyright © 2017 Minibarra LTD, All rights reserved.</p>
		<p>You're recieving this email becuase you signed up on our website, <a href="http://www.minibarra.com">http://www.minibarra.com</a></p>
	</div>
</div>