<%- if params[:controller] == 'tasks' and params[:action] == 'new' %>
  <body data-turbolinks="false">
<%- else %>
  <body data-turbolinks="true">
<%- end %>

<div class="form-container">
	<div class="col-md-4 col-md-offset-4 well signin">
		<!-- Back Btn -->
		<div class="back-btn">
			<%= link_to tasks_path do %>
				<span class="glyphicon glyphicon-chevron-left"></span> <p><%= t 'tasks.new.back' %></p>
			<% end %>
		</div>

		<!-- Page Title -->
		<h1><p><%= t 'tasks.new.title' %></h1>
			
		<%= render 'form', task: @task %>

	</div>
</div>

