<div class="row white">
  <div class="col-sm-12">
    <div class="minibarra-usp">
      <h1>Features your kitchen will love</h1>
      <h4>Discover the features that will make your life easier and your kitchen happier</h4>

    </div>
  </div>
</div>


<div class="row white">
  <div class="col-sm-4 group-title-wrap" id="group-title-one">
    <h4 class="group-title">
      Take control of<br> your kitchen
    </h4>
  </div>
  <div class="col-sm-6 gray" id="feature-col-one">
    <div class="feature-group feature-group-one">
      <div class="row">
        <h4 class="group-title-responsive">Take control of<br> your kitchen</h4>
        <div class="feature">
          <h4>
            <i class="fa fa-address-card-o"></i>Staff members
          </h4>
          <p>
            Create a staff member in Minibarra for everyone in your kitchen.
          </p>
        </div>
        <div class="feature">
          <h4>
            <i class="fa fa-calendar-check-o"></i>Track date and time
          </h4>
          <p>
            See what tasks have been done, what time they were updated.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="feature">
          <h4>
            <i class="fa fa-sticky-note-o"></i>Add notes to tasks
          </h4>
          <p>
            Easily leaves notes or actions taken on tasks when they're ticked off.
          </p>
        </div>
        <div class="feature">
          <h4>
            <i class="fa fa-file-excel-o"></i>Export to Excel
          </h4>
          <p>
            Export all your data to Excel
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    
  </div>
</div>
<div class="row white">
  <div class="col-sm-4 group-title-wrap" id="group-title-two">
    <h4 class="group-title">
      No nonsense<br> straightforward<br> due-dilligence
    </h4>
  </div>
  <div class="col-sm-6 gray" id="feature-col-two">
    <div class="feature-group feature-group-two">
      <div class="row">
        <h4 class="group-title-responsive">No nonsense<br> straightforward<br> due-dilligence</h4>
        <div class="feature">
          <h4>
            <i class="fa fa-thermometer"></i>Temperature logs
          </h4>
          <p>
            Log your fridge/freezer tempartures every monring, afternoon, or evening.
          </p>
        </div>
        <div class="feature">
          <h4>
            <i class="fa fa-check-square-o"></i>Clean checklists
          </h4>
          <p>
            Record your kitchens daily, weekly, or monthly checks and tasks for each shift.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="feature">
          <h4>
            <i class="fa fa-pencil"></i>Task descriptions
          </h4>
          <p>
            Leave simple and clear instructions for new employees and agency staff.
          </p>
        </div>
        <div class="feature">
          <h4>
            <i class="fa fa-search"></i>Search records
          </h4>
          <p>
            Search through all your records instantly by date. No more flicking through paperwork.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    
  </div>
</div>
<div class="row white">
  <div class="container img-container">
          <div class="col-sm-12">
            <div class="minibarra-usp">
              <h4>Minibarra Chef works on all your devices</h4>
            </div>
            <%= image_tag('/images/Minibarra-Macbook+iPhone.png') %>
          
        </div>
  </div>
</div>
<div class="row white">
  <div class="col-sm-4 group-title-wrap" id="group-title-three">
    <h4 class="group-title">
      Upcoming<br> features
    </h4>
  </div>
  <div class="col-sm-6 gray" id="feature-col-three">
    <div class="feature-group feature-group-three">
      <div class="row">
        <h4 class="group-title-responsive">Upcoming features</h4>
        <div class="feature">
          <h4>
            <i class="fa fa-globe"></i>Multiple languages
          </h4>
          <p>
            Minibarra will be available in multiple languages, starting with Spanish & French.
          </p>
          <p>
            <span>Starting Feburary 2017</span>
          </p>          
        </div>
        <div class="feature">
          <h4>
            <i class="fa fa-book"></i>Food temperature logs
          </h4>
          <p>
            We're buidling extended support for temperature logging to make it easier to log hot food tempeartures.
          </p>
          <p>
            <span>Coming Feburary 2017</span>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="feature">
          <h4>
            <i class="fa fa-file-pdf-o"></i>Export to PDF
          </h4>
          <p>
            Four loko banjo PBR&B meh, tousled ugh fanny pack letterpress lumbersexual pok pok pork belly.
          </p>
          <p>
            <span>Coming Feburary 2017</span>
          </p>
        </div>
        <div class="feature">
          <h4>
            <i class="fa fa-apple"></i>Powerful iOS app
          </h4>
          <p>
            We're in the process of testing our dedicated native iOS app. Android to follow soon after.
          </p>
          <p>
            <span>Coming March 2017</span>
          </p>          
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    
  </div>
</div>
<!-- <div class="row white">
  <div class="container">
    <div class="minibarra-usp">
      <h4>Want more features, or don't like what you see?</h4>
      <p><a href="/makers/new">Join our Experience Design Program</a></p>
    </div>
  </div>
</div> -->
<div class="row white">
  <div class="container">
    <div class="minibarra-usp">
      <h4>Let's get started.</h4>
        <div class="btn-container">
          <a class="btn btn-primary btn-large" href="/pricing" role="button">Pricing & Plans</a>
        </div>
    </div>
  </div>
</div>
<div class="row white">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="jumbotron">
      <h4>Need to convince the boss?</h4>
      <br>
            <div class="worthCalculator">
                <p>
                  As a chef, I value my time at  <span class="dollarInput">£<input name="dollar" type="text" value="12">/hr</span>. My kitchen has <span class="chefInput"><input name="chef" type="text" value="3"> chefs</span> and we each spend <input type="text" name="time" value="16"> minutes a day on due dilligence.
                </p>
                <p>
                  Minibarra will save each chef <strong class="totalTime">77 hours</strong>. Combined, this will save all the chefs <strong class="totalTimeChef">231 hours</strong> (that's <strong class="totalDollar">£2772</strong> per year).
                </p>
                <p>
                  Every month, Minibarra pays for itself after <strong class="payBack">less than an day</strong>!</p>
                </p>
          </div>
    </div>
  </div>
</div>
<div class="row white">
  <div class="container">
    <div class="minibarra-usp">
      <h4>Let's get started.</h4>
        <div class="btn-container">
          <a class="btn btn-primary btn-large" href="/pricing" role="button">Pricing & Plans</a>
        </div>
    </div>
  </div>
</div>


<script>
        // Worth CAlc
  $('.worthCalculator input').on('keyup change',function() {
    var dollar = $('input[name="dollar"]').val();
    var time = $('input[name="time"]').val();
    var chef = $('input[name="chef"]').val();
    var totalDollar = dollar * (time/60) * 6 * 51; // $savedtime, five days a week for 50 weeks a year
    var totalTime = Math.round((time * 6 * 51) / 60); // half an hour, five days a week for 50 weeks a year

    var chefDollar = chef * dollar

    var payBack = Math.round((9 / chefDollar) * 60);
    var payBack = 19 / ((chefDollar / 60) * time);
    var payBackText = "";

    if(payBack <= 1) {
      payBackText = "less than an day";
    }
    else if (payBack > 1 && payBack < 2) {
      payBackText = "just over a day";
    } else {
      payBackText = "just over " + Math.floor(payBack) + " days";
    }

    $('strong.totalTime').text(totalTime + " hours");
    $('strong.totalDollar').text("£" + totalTime * dollar * chef);
    $('strong.payBack').text(payBackText);
    $('strong.totalTimeChef').text(totalTime * chef + " hours");
  });
  </script>

<script> 
$(window).resize(function(){
   console.log('resize called');
   var width = $(window).width();
   if(width >= 1 && width <= 768){
       $('#feature-col-one').removeClass('col-sm-6').addClass('col-sm-7');
       $('#feature-col-two').removeClass('col-sm-6').addClass('col-sm-7');
       $('#feature-col-three').removeClass('col-sm-6').addClass('col-sm-7');



       $('#group-title-one').removeClass('col-sm-4').addClass('col-sm-3');
       $('#group-title-two').removeClass('col-sm-4').addClass('col-sm-3');
       $('#group-title-three').removeClass('col-sm-4').addClass('col-sm-3');
   }
   else{
       $('#feature-col-one').removeClass('col-sm-7').addClass('col-sm-6');
       $('#feature-col-two').removeClass('col-sm-7').addClass('col-sm-6');
       $('#feature-col-three').removeClass('col-sm-7').addClass('col-sm-6');

       $('#group-title-one').removeClass('col-sm-3').addClass('col-sm-4');
       $('#group-title-two').removeClass('col-sm-3').addClass('col-sm-4');
       $('#group-title-three').removeClass('col-sm-3').addClass('col-sm-4');
   }
})
.resize();//trigger the resize event on page load.
</script>


