<div class="row white">
  <div class="col-sm-12">
    <div class="minibarra-usp">
      <h1>Features your kitchen will love.</h1>
      <h4>Discover the features that will make your life easier and your kitchen happier</h4>

    </div>
  </div>
</div>


<div class="row white">
  <div class="col-sm-4 group-title-wrap">
    <h4 class="group-title">
      Take control of<br> your kitchen
    </h4>
  </div>
  <div class="col-sm-6 gray">
    <div class="feature-group feature-group-one">
      <div class="row">
        <h4 class="group-title-responsive">Take control of<br> your kitchen</h4>
        <div class="feature">
          <h4>
            <i class="fa fa-address-card-o"></i>Staff members
          </h4>
          <p>
            Create a staff member in Minibarra for everyone in your kitchen.
          </p>
        </div>
        <div class="feature">
          <h4>
            <i class="fa fa-calendar-check-o"></i>Track date and time
          </h4>
          <p>
            See what tasks have been done, what time they were updated.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="feature">
          <h4>
            <i class="fa fa-file-excel-o"></i>Add notes to tasks
          </h4>
          <p>
            Four loko banjo PBR&B meh, tousled ugh fanny pack letterpress lumbersexual pok pok pork belly.
          </p>
        </div>
        <div class="feature">
          <h4>
            <i class="fa fa-file-excel-o"></i>Export to Excel
          </h4>
          <p>
            Export all your data to Excel
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    
  </div>
</div>
<div class="row white">
  <div class="col-sm-4 group-title-wrap">
    <h4 class="group-title">
      No nonsense<br> straightforward<br> due-dilligence
    </h4>
  </div>
  <div class="col-sm-6 gray">
    <div class="feature-group feature-group-two">
      <div class="row">
        <h4 class="group-title-responsive">No nonsense<br> straightforward<br> due-dilligence</h4>
        <div class="feature">
          <h4>
            <i class="fa fa-file-excel-o"></i>This is a feature
          </h4>
          <p>
            Four loko banjo PBR&B meh, tousled ugh fanny pack letterpress lumbersexual pok pok pork belly.
        
          </p>
        </div>
        <div class="feature">
          <h4>
            <i class="fa fa-file-excel-o"></i>This is a feature
          </h4>
          <p>
            Four loko banjo PBR&B meh, tousled ugh fanny pack letterpress lumbersexual pok pok pork belly.
        
          </p>
        </div>
      </div>
      <div class="row">
        <div class="feature">
          <h4>
            <i class="fa fa-file-excel-o"></i>This is a feature
          </h4>
          <p>
            Four loko banjo PBR&B meh, tousled ugh fanny pack letterpress lumbersexual pok pok pork belly.
        
          </p>
        </div>
        <div class="feature">
          <h4>
            <i class="fa fa-file-excel-o"></i>This is a feature
          </h4>
          <p>
            Four loko banjo PBR&B meh, tousled ugh fanny pack letterpress lumbersexual pok pok pork belly.
        
          </p>
        </div>
      </div>
      <div class="row">
        <div class="feature">
          <h4>
            <i class="fa fa-file-excel-o"></i>This is a feature
          </h4>
          <p>
            Four loko banjo PBR&B meh, tousled ugh fanny pack letterpress lumbersexual pok pok pork belly.
        
          </p>
        </div>            
        <div class="feature">
          <h4>
            <i class="fa fa-file-excel-o"></i>This is a feature
          </h4>
          <p>
            Four loko banjo PBR&B meh, tousled ugh fanny pack letterpress lumbersexual pok pok pork belly.
        
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    
  </div>
</div>
<div class="row white">
  <div class="container img-container">
            <div class="col-sm-12">
            <img src="http://www.minibarra.com/wp-content/uploads/2016/12/Minibarra-Chef-Macbook-Mockup-1-1.png" alt="">

            <div class="minibarra-usp">
              <h4>Minibarra Chef works on all your devices</h4>
            </div>
        </div>
  </div>
</div>
<div class="row white">
  <div class="col-sm-4 group-title-wrap">
    <h4 class="group-title">
      Group title<br> feature one
    </h4>
  </div>
  <div class="col-sm-6 gray">
    <div class="feature-group feature-group-three">
      <div class="row">
        <h4 class="group-title-responsive">Take control of<br> your kitchen</h4>
        <div class="feature">
          <h4>
            <i class="fa fa-file-excel-o"></i>This is a feature
          </h4>
          <p>
            Four loko banjo PBR&B meh, tousled ugh fanny pack letterpress lumbersexual pok pok pork belly.
        
          </p>
        </div>
        <div class="feature">
          <h4>
            <i class="fa fa-file-excel-o"></i>This is a feature
          </h4>
          <p>
            Four loko banjo PBR&B meh, tousled ugh fanny pack letterpress lumbersexual pok pok pork belly.
        
          </p>
        </div>
      </div>
      <div class="row">
        <div class="feature">
          <h4>
            <i class="fa fa-file-excel-o"></i>This is a feature
          </h4>
          <p>
            Four loko banjo PBR&B meh, tousled ugh fanny pack letterpress lumbersexual pok pok pork belly.
        
          </p>
        </div>
        <div class="feature">
          <h4>
            <i class="fa fa-file-excel-o"></i>This is a feature
          </h4>
          <p>
            Four loko banjo PBR&B meh, tousled ugh fanny pack letterpress lumbersexual pok pok pork belly.
        
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    
  </div>
</div>