<div class="row sep-white">
	<div class="col-md-3">
		
	</div>
	<div class="col-md-6">
		<div class="minibarra-usp">
			<h1>What Minibarra Can Do Fo You.</h1>
			<h4>Built by chefs, Minibarra powers kitchens around the world. Check out which option is right for you.</h4>
			<p><a href="/users/sign_up">Get an invitation</a></p>
		</div>
	</div>
	<div class="col-md-3">
		
	</div>
</div>

<!--
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
-->
<div class="sep-gray">
<div class="container content">
	<div class="row">
		<!-- Pricing -->
		<!-- 
		<div class="col-md-4">
			<div class="pricing hover-effect">
				<div class="pricing-head">
					<h3>Enterprise <span>
					For Big Kahuna's </span>
					</h3>
					<h4><i>from £</i>2000<i></i>
					<span>
					 Paid Annually</span>
					</h4>
				</div>
				<ul class="pricing-content list-unstyled">
					<li>
						At vero eos
					</li>
					<li>
						No Support
					</li>
					<li>
						Fusce condimentum
					</li>
					<li>
						Ut non libero
					</li>
					<li>
						Consecte adiping elit
					</li>
				</ul>
				<div class="pricing-footer">
					<p>
						 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .
					</p>
					<div class="btn-container">
						<a class="btn btn-secondary btn-large" href="/users/sign_up" role="button">Get an Invite</a>
					</div>
				</div>
			</div>
		</div>
	-->
		<div class="col-md-4">
			<div class="pricing hover-effect">
				<div class="pricing-head">
					<h3>Business Plus <span>
					For growing businesses </span>
					</h3>
					<h4><i>£</i>69<i>.69</i>
					<span>
					Per Month </span>
					</h4>
				</div>
				<ul class="pricing-content list-unstyled">
					<li>
						Unlimted users
					</li>
					<li>
						Unlimted tasks
					</li>
					<li>
						24/7 support
					</li>
					<li>
						Mulitple languages
					</li>
				</ul>
				<div class="pricing-footer">
					<p>
						Minibarra requires an internet connected device. If your chosen language isn't available, you'll pay £20.69 until translation is complete.
					</p>
					<div class="btn-container">
						<a class="btn btn-secondary btn-large" href="/users/sign_up" role="button">Get an Invite</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="pricing pricing-active hover-effect">
				<div class="pricing-head pricing-head-active">
					<h3>Business Class <span>
					For Business </span>
					</h3>
					<h4><i>£</i>20<i>.69</i>
					<span>
					Per Month </span>
					</h4>
				</div>
				<ul class="pricing-content list-unstyled">
					<li>
						Up to 20 users
					</li>
					<li>
						Up to 50 tasks
					</li>
					<li>
						24/7 support
					</li>
				</ul>
				<div class="pricing-footer">
					<p>
						 Minibarra requires an internet connected device.
					</p>
					<div class="btn-container">
						<a class="btn btn-primary btn-large" href="/users/sign_up" role="button">Get an Invite</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="pricing hover-effect">
				<div class="pricing-head">
					<h3>Amuse Bouche <span>
					For those just starting out</span>
					</h3>
					<h4><i>£</i>9<i>.69</i>
					<span>
					Per Month </span>
					</h4>
				</div>
				<ul class="pricing-content list-unstyled">
					<li>
						Up to 5 users*
					</li>
					<li>
						Up to 10 tasks*
					</li>
					<li>
						24/7 support
					</li>
				</ul>
				<div class="pricing-footer">
					<p>
						 Minibarra requires an internet connected device.
					</p>
					<div class="btn-container">
						<a class="btn btn-secondary btn-large" href="/users/sign_up" role="button">Get an Invite</a>
					</div>
				</div>
			</div>
		</div>
		<!--//End Pricing -->
	</div>
<div class="col-md-3"></div>
<div class="col-md-6">
	<div class="notice">
		<p>*If you exceed your users or tasks, we'll send you a polite email to notify you. We will not charge you automatically.</p>
	</div>
</div>
<div class="col-md-3"></div>
</div>
</div>
<div class="row sep-white footer-red">
    <div class="col-md-12 logo-container">
        <span class="logo">minibarra</span>
    </div>


    <div class="row">   
        <div class="col-md-4">
            <div class="social-icons">
                <a class="fa fa-twitter-square" href="http://twitter.com/Minibarra">  </a>
                <a class="fa fa-facebook-square" href="https://www.facebook.com/MinibarraHQ">  </a>
                <a class="fa fa-instagram" href="https://www.instagram.com/minibarrachef">  </a>
                <a class="fa fa-linkedin-square" href="https://www.linkedin.com/company/minibarra">  </a>
                <p>© 2016 Minibarra LTD</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="links">
                <p><a href="/pricing">Pricing & Plans</a></p>
                <p><a href="/team">Meet the team</a></p>
                <p><a href="/enterprise">Minibarra Enterprise</a></p>
            </div>    
        </div>
        <div class="col-md-3">
            
        </div>
    </div>
</div>
