<div class="row sep-white">
	
</div>


<div class="sep-gray">
	<div class="col-md-12">
		<div class="minibarra-usp">
			<h1>It will pay off.</h1>
			<h4>Every plan comes with a <strong>60 day money back guarantee.</strong></h4>

		</div>
	</div>
<div class="container content">
	<div class="row">
		<!-- Pricing -->
		<!-- 
		<div class="col-md-4">
			<div class="pricing hover-effect">
				<div class="pricing-head">
					<h3>Enterprise <span>
					For Big Kahuna's </span>
					</h3>
					<h4><i>from £</i>2000<i></i>
					<span>
					 Paid Annually</span>
					</h4>
				</div>
				<ul class="pricing-content list-unstyled">
					<li>
						At vero eos
					</li>
					<li>
						No Support
					</li>
					<li>
						Fusce condimentum
					</li>
					<li>
						Ut non libero
					</li>
					<li>
						Consecte adiping elit
					</li>
				</ul>
				<div class="pricing-footer">
					<p>
						 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna psum olor .
					</p>
					<div class="btn-container">
						<a class="btn btn-secondary btn-large" href="/users/sign_up" role="button">Get an Invite</a>
					</div>
				</div>
			</div>
		</div>
	-->
		<div class="col-md-4">
			<div class="pricing hover-effect">
				<div class="pricing-head">
					<h3>Business Plus <span>
					For growing businesses </span>
					</h3>
					<h4><i>£</i>69<i>.69</i>
					<span>
					Per Month </span>
					</h4>
				</div>
				<ul class="pricing-content list-unstyled">
					<li>
						Unlimted users
					</li>
					<li>
						Unlimted tasks
					</li>
					<li>
						24/7 support
					</li>
					<li>
						Mulitple languages
					</li>
				</ul>
				<div class="pricing-footer">
					<p>
						Minibarra requires an internet connected device. If your chosen language isn't available, you'll pay £20.69 until translation is complete.
					</p>
					<div class="btn-container">
						<a class="btn btn-secondary btn-large" href="/users/sign_up" role="button">Get an Invite</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="pricing pricing-active hover-effect">
				<div class="pricing-head pricing-head-active">
					<h3>Business Class <span>
					For Business </span>
					</h3>
					<h4><i>£</i>20<i>.69</i>
					<span>
					Per Month </span>
					</h4>
				</div>
				<ul class="pricing-content list-unstyled">
					<li>
						Up to 20 users
					</li>
					<li>
						Up to 50 tasks
					</li>
					<li>
						24/7 support
					</li>
				</ul>
				<div class="pricing-footer">
					<p>
						 Minibarra requires an internet connected device.
					</p>
					<div class="btn-container">
						<a class="btn btn-primary btn-large" href="/users/sign_up" role="button">Get an Invite</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="pricing hover-effect">
				<div class="pricing-head">
					<h3>Amuse Bouche <span>
					For those just starting out</span>
					</h3>
					<h4><i>£</i>9<i>.69</i>
					<span>
					Per Month </span>
					</h4>
				</div>
				<ul class="pricing-content list-unstyled">
					<li>
						Up to 5 users*
					</li>
					<li>
						Up to 10 tasks*
					</li>
					<li>
						24/7 support
					</li>
				</ul>
				<div class="pricing-footer">
					<p>
						 Minibarra requires an internet connected device.
					</p>
					<div class="btn-container">
						<a class="btn btn-secondary btn-large" href="/users/sign_up" role="button">Get an Invite</a>
					</div>
				</div>
			</div>
		</div>
		<!--//End Pricing -->
	</div>
<div class="col-md-3"></div>
<div class="col-md-6">
	<div class="notice">
		<p>*If you exceed your users or tasks, we'll send you a polite email to notify you. We will not charge you automatically.</p>
	</div>
</div>
<div class="col-md-3"></div>
</div>
</div>

<div class="row">
	<div class="blue-pane-gradient">
		<h4>Looking for a higher level of control over product features and integrations?</h4>
		<p>Minibarra Enterprise gives you access to multiple organisation accounts, custom features, and a dedicated account manager.</p>
		<div class="btn-container">
			<a href="/enterprise" class="btn btn-secondary btn-large">Learn about Minibarra Enterprise</a>
		</div>
</div>
</div>

<div class="row">
	<div class="faq-container">
          <h1 class="heading-primary">Still not convinced?</h1>
          <div class="accordion">
            <dl>
              <dt>
                <a href="#accordion1" aria-expanded="false" aria-controls="accordion1" class="accordion-title accordionTitle js-accordionTrigger">First Accordion heading</a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion1" aria-hidden="true">
                <p>Lorem ipsum dolor sit amet, consectetur <a href="http://www.google.com">Test</a>adipiscing elit. Morbi eu interdum diam. Donec interdum porttitor risus non bibendum. Maecenas sollicitudin eros in quam imperdiet placerat. Cras justo purus, rhoncus nec lobortis ut, iaculis vel ipsum. Donec dignissim arcu nec elit faucibus condimentum. Donec facilisis consectetur enim sit amet varius. Pellentesque justo dui, sodales quis luctus a, iaculis eget mauris. </p>
                <p>Aliquam dapibus, ante quis fringilla feugiat, mauris risus condimentum massa, at elementum libero quam ac ligula. Pellentesque at rhoncus dolor. Duis porttitor nibh ut lobortis aliquam. Nullam eu dolor venenatis mauris placerat tristique eget id dolor. Quisque blandit adipiscing erat vitae dapibus. Nulla aliquam magna nec elementum tincidunt.</p>
              </dd>
              <dt>
                <a href="#accordion2" aria-expanded="false" aria-controls="accordion2" class="accordion-title accordionTitle js-accordionTrigger">
                  Second Accordion heading</a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion2" aria-hidden="true">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu interdum diam. Donec interdum porttitor risus non bibendum. Maecenas sollicitudin eros in quam imperdiet placerat. Cras justo purus, rhoncus nec lobortis ut, iaculis vel ipsum. Donec dignissim arcu nec elit faucibus condimentum. Donec facilisis consectetur enim sit amet varius. Pellentesque justo dui, sodales quis luctus a, iaculis eget mauris. </p>
                <p>Aliquam dapibus, ante quis fringilla feugiat, mauris risus condimentum massa, at elementum libero quam ac ligula. Pellentesque at rhoncus dolor. Duis porttitor nibh ut lobortis aliquam. Nullam eu dolor venenatis mauris placerat tristique eget id dolor. Quisque blandit adipiscing erat vitae dapibus. Nulla aliquam magna nec elementum tincidunt.</p>
              </dd>
              <dt>
                <a href="#accordion3" aria-expanded="false" aria-controls="accordion3" class="accordion-title accordionTitle js-accordionTrigger">
                  Third Accordion heading
                </a>
              </dt>
              <dd class="accordion-content accordionItem is-collapsed" id="accordion3" aria-hidden="true">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu interdum diam. Donec interdum porttitor risus non bibendum. Maecenas sollicitudin eros in quam imperdiet placerat. Cras justo purus, rhoncus nec lobortis ut, iaculis vel ipsum. Donec dignissim arcu nec elit faucibus condimentum. Donec facilisis consectetur enim sit amet varius. Pellentesque justo dui, sodales quis luctus a, iaculis eget mauris. </p>
                <p>Aliquam dapibus, ante quis fringilla feugiat, mauris risus condimentum massa, at elementum libero quam ac ligula. Pellentesque at rhoncus dolor. Duis porttitor nibh ut lobortis aliquam. Nullam eu dolor venenatis mauris placerat tristique eget id dolor. Quisque blandit adipiscing erat vitae dapibus. Nulla aliquam magna nec elementum tincidunt.</p>
              </dd>
            </dl>
          </div>
        </div>
</div>

<script>
	//uses classList, setAttribute, and querySelectorAll
//if you want this to work in IE8/9 youll need to polyfill these
(function(){
	var d = document,
	accordionToggles = d.querySelectorAll('.js-accordionTrigger'),
	setAria,
	setAccordionAria,
	switchAccordion,
  touchSupported = ('ontouchstart' in window),
  pointerSupported = ('pointerdown' in window);
  
  skipClickDelay = function(e){
    e.preventDefault();
    e.target.click();
  }

		setAriaAttr = function(el, ariaType, newProperty){
		el.setAttribute(ariaType, newProperty);
	};
	setAccordionAria = function(el1, el2, expanded){
		switch(expanded) {
      case "true":
      	setAriaAttr(el1, 'aria-expanded', 'true');
      	setAriaAttr(el2, 'aria-hidden', 'false');
      	break;
      case "false":
      	setAriaAttr(el1, 'aria-expanded', 'false');
      	setAriaAttr(el2, 'aria-hidden', 'true');
      	break;
      default:
				break;
		}
	};
//function
switchAccordion = function(e) {
  console.log("triggered");
	e.preventDefault();
	var thisAnswer = e.target.parentNode.nextElementSibling;
	var thisQuestion = e.target;
	if(thisAnswer.classList.contains('is-collapsed')) {
		setAccordionAria(thisQuestion, thisAnswer, 'true');
	} else {
		setAccordionAria(thisQuestion, thisAnswer, 'false');
	}
  	thisQuestion.classList.toggle('is-collapsed');
  	thisQuestion.classList.toggle('is-expanded');
		thisAnswer.classList.toggle('is-collapsed');
		thisAnswer.classList.toggle('is-expanded');
 	
  	thisAnswer.classList.toggle('animateIn');
	};
	for (var i=0,len=accordionToggles.length; i<len; i++) {
		if(touchSupported) {
      accordionToggles[i].addEventListener('touchstart', skipClickDelay, false);
    }
    if(pointerSupported){
      accordionToggles[i].addEventListener('pointerdown', skipClickDelay, false);
    }
    accordionToggles[i].addEventListener('click', switchAccordion, false);
  }
})();
</script>

<div class="row sep-white footer-red">
    <div class="col-md-12 logo-container">
        <span class="logo">minibarra</span>
    </div>


    <div class="row">   
        <div class="col-md-4">
            <div class="social-icons">
                <a class="fa fa-twitter-square" href="http://twitter.com/Minibarra">  </a>
                <a class="fa fa-facebook-square" href="https://www.facebook.com/MinibarraHQ">  </a>
                <a class="fa fa-instagram" href="https://www.instagram.com/minibarrachef">  </a>
                <a class="fa fa-linkedin-square" href="https://www.linkedin.com/company/minibarra">  </a>
                <p>© 2016 Minibarra LTD</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="links">
                <p><a href="/pricing">Pricing & Plans</a></p>
                <p><a href="/team">Meet the team</a></p>
                <p><a href="/enterprise">Minibarra Enterprise</a></p>
            </div>    
        </div>
        <div class="col-md-3">
            
        </div>
    </div>
</div>

