<%= render 'pricing_table.html.erb' %>
<div class="row sep-white padding-side padding-bottom">
	<div class="minibarra-usp runner-container">
		<h4>Psst... there's more <br><br><i class="glyphicon glyphicon-circle-arrow-down"></i></h4>
		<div class="col-sm-6 runner-img">
			<%= image_tag('/images/speed.png') %>
			
		</div>
		<div class="col-sm-6">
			<div class="runner-text">
				<h3>We'll get you up and running.</h3>
				<h5>Send us your paperwork, and we'll set up Minibarra for you. Better yet, if your business is based in London, we'll come pick it up.</h5>
			</div>
		</div>
	</div>
</div>
<div class="row white padding-side padding-bottom">
		<div class="minibarra-usp runner-container">	
		<div class="col-sm-6 runner-img">
			<%= image_tag('/images/price-tag.png') %>
		</div>
		<div class="col-sm-6">
			<div class="runner-text">
				<h3>No surprises.</h3>
				<h5>We promise all our customers grandfather pricing. The price you choose today, is the price you will be charged forever.</h5>
			</div>
		</div>		
	</div>
</div>
<div class="row white padding-side padding-bottom">
		<div class="minibarra-usp runner-container">
		<div class="col-sm-6 runner-img">
			<%= image_tag('/images/bill.png') %>
		</div>	
		<div class="col-sm-6">
			<div class="runner-text">
				<h3>Fair Billing Policy.</h3>
				<h5>With Minibarra, you only get billed for what you use. For example, if you choose a plan with unlimited tasks but only have 5, you'll be billed for 5. Fair's fair. </h5>
			</div>
		</div>
	</div>
</div>
<div class="row white padding-side padding-bottom invite">
	<div class="minibarra-usp runner-container">
		<div class="col-sm-12">
			<h2>Heard enough?</h2>
			<br>
            <a class="btn btn-primary btn-large" href="/pricing#pricing" role="button">Let's get started</a>
            <br>
		</div>
	</div>
</div>
<script>
$(document).ready(function(){
  // Add smooth scrolling to all links
  $("a").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 200, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
});
</script>