<!--  Renders Pricing Table, and page titles -->
<%= render 'pricing_table.html.erb' %>

<!-- START 'There's more' AND USP ONE -->
<div class="row sep-white padding-side padding-bottom">
	<div class="minibarra-usp runner-container">
    <!-- There's more hint -->
		<h4>Psst... there's more <br><br><i class="glyphicon glyphicon-circle-arrow-down"></i></h4>
		
    <!-- USP ONE -->
    <div class="col-sm-6 runner-img">
			<%= image_tag('/images/speed.png') %>
		</div>
		<div class="col-sm-6">
			<div class="runner-text">
				<h3>We'll get you up and running.</h3>
				<h5>Send us your paperwork, and we'll set up Minibarra for you. Better yet, if your business is based in London, we'll come pick it up.</h5>
			</div>
		</div>
	</div>
</div>
<!-- END USP ONE -->

<!-- START USP ONE -->
<div class="row white padding-side padding-bottom">
		<div class="minibarra-usp runner-container">	
		<div class="col-sm-6 runner-img">
			<%= image_tag('/images/price-tag.png') %>
		</div>
		<div class="col-sm-6">
			<div class="runner-text">
				<h3>No surprises.</h3>
				<h5>We promise all our customers grandfather pricing. The price you choose today, is the price you will be charged forever.</h5>
			</div>
		</div>		
	</div>
</div>
<!-- END USP TWO -->

<!-- START USP THREE -->
<div class="row white padding-side padding-bottom">
		<div class="minibarra-usp runner-container">
		<div class="col-sm-6 runner-img">
			<%= image_tag('/images/bill.png') %>
		</div>	
		<div class="col-sm-6">
			<div class="runner-text">
				<h3>Fair Billing Policy.</h3>
				<h5>With Minibarra, you only get billed for what you use. For example, if you choose a plan with unlimited tasks but only have 5, you'll be billed for 5. Fair's fair. </h5>
			</div>
		</div>
	</div>
</div>
<!-- END USP THREE -->

<!-- START CTA -->
<div class="row white padding-side padding-bottom invite">
	<div class="minibarra-usp runner-container">
		<div class="col-sm-12">
			<h2>Heard enough?</h2>
			<br>
      <!-- BTN -->
      <a class="btn btn-primary btn-large" href="/pricing#pricing" role="button">Let's get started</a>
      <br>
		</div>
	</div>
</div>
<!-- END CTA -->

<!-- START WORTH CALCULATOR -->
<div class="row white">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="jumbotron">
      <h4>Need to convince the boss?</h4>
      <br>
      <div class="worthCalculator">
        <p>
          As a chef, I value my time at  <span class="dollarInput">£<input name="dollar" type="text" value="12">/hr</span>. My kitchen has <span class="chefInput"><input name="chef" type="text" value="3"> chefs</span> and we each spend <input type="text" name="time" value="16"> minutes a day on due dilligence.
        </p>
        <p>
          Minibarra will save each chef <strong class="totalTime">77 hours</strong>. Combined, this will save all the chefs <strong class="totalTimeChef">231 hours</strong> (that's <strong class="totalDollar">£2772</strong> per year).
        </p>
        <p>
          Every month, Minibarra pays for itself after <strong class="payBack">less than an day</strong>!</p>
        </p>
    </div>
    </div>
  </div>
</div>




<!-- END WORTH CALCULATOR -->
<script>
$(document).ready(function(){
  // Add smooth scrolling to all links
  $("a").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 200, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
});
</script>
<script>
        // Worth CAlc
  $('.worthCalculator input').on('keyup change',function() {
    var dollar = $('input[name="dollar"]').val();
    var time = $('input[name="time"]').val();
    var chef = $('input[name="chef"]').val();
    var totalDollar = dollar * (time/60) * 6 * 51; // $savedtime, five days a week for 50 weeks a year
    var totalTime = Math.round((time * 6 * 51) / 60); // half an hour, five days a week for 50 weeks a year

    var chefDollar = chef * dollar

    var payBack = Math.round((9 / chefDollar) * 60);
    var payBack = 19 / ((chefDollar / 60) * time);
    var payBackText = "";

    if(payBack <= 1) {
      payBackText = "less than an day";
    }
    else if (payBack > 1 && payBack < 2) {
      payBackText = "just over a day";
    } else {
      payBackText = "just over " + Math.floor(payBack) + " days";
    }

    $('strong.totalTime').text(totalTime + " hours");
    $('strong.totalDollar').text("£" + totalTime * dollar * chef);
    $('strong.payBack').text(payBackText);
    $('strong.totalTimeChef').text(totalTime * chef + " hours");
  });
  </script>
  <!-- Start of Async Drift Code -->
<script>
!function() {
  var t;
  if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0, 
  t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
  t.factory = function(e) {
    return function() {
      var n;
      return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
    };
  }, t.methods.forEach(function(e) {
    t[e] = t.factory(e);
  }), t.load = function(t) {
    var e, n, o, i;
    e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"), 
    o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js", 
    n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
  });
}();
drift.SNIPPET_VERSION = '0.3.1';
drift.load('h5gbvvmne62i');
</script>
<!-- End of Async Drift Code