<div class="row sep-gray">
	<div class="col-md-12">
		<div class="minibarra-usp team">
			<h1>Meet the geeks.</h1>
			<h4>This is the team that make Minibarra, and support our customers. </h4>
			<p>Everyone on the Minibarra team has extensive experience in hospitality. We were founded by two former chefs, and a commis waiter. Everybody on our team interacts with customers on a regular basis.</p>

		</div>
	</div>

	<div class="team-container">
		<div class="col-md-3">
			<div class="team-member">
				<img src="./images/Tom-Meehan.jpg" alt="">
				<h4>Tom Meehan</h4>
				<h6>Founder & Tech</h6>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin accumsan lobortis mi, non placerat velit interdum id.</p>
					<div class="team-social-icons">
               			<a class="fa fa-twitter-square" href="http://www.twitter.com/@ThisIsMeehan">  </a>
                		<a class="fa fa-envelope" href="mailto:tom.meehan@minibarra.com">  </a>
                		<a class="fa fa-linkedin-square" href="https://www.linkedin.com/in/tomeehan">  </a>
            		</div>	
			</div>	
		</div>
		<div class="col-md-3">
			<div class="team-member">
				<img src="./images/Tom-Simkins.jpg" alt="">
				<h4>Tom Simkins</h4>
				<h6>Product Development</h6>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin accumsan lobortis mi, non placerat velit interdum id.</p>
					<div class="team-social-icons">
               			<a class="fa fa-twitter-square" href="https://twitter.com/tomsimkins2">  </a>
                		<a class="fa fa-envelope" href="mailto:tom.simkins@minibarra.com">  </a>
                		<a class="fa fa-linkedin-square" href="https://uk.linkedin.com/in/thomas-simkins-971277106">  </a>
            		</div>			
			</div>
		</div>
		<div class="col-md-3">
			<div class="team-member">
				<img src="./images/Zak-Rebihi.jpg" alt="">
				<h4>Zak Rebihi</h4>
				<h6>User Experience Design</h6>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin accumsan lobortis mi, non placerat velit interdum id.</p>
					<div class="team-social-icons">
               			<a class="fa fa-twitter-square" href="https://twitter.com/ZakRebihi">  </a>
                		<a class="fa fa-envelope" href="mailto:zak.rebihi@minibarra.com">  </a>
                		<a class="fa fa-linkedin-square" href="https://uk.linkedin.com/in/zak-rebihi-6a66b1107">  </a>
            		</div>				
			</div>	
		</div>
		<div class="col-md-3">
			<div class="team-member">
				<img src="./images/Olivia-Woolaway.jpg" alt="">

				<h4>Olivia Woolaway</h4>
				<h6>Translation</h6>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin accumsan lobortis mi, non placerat velit interdum id.</p>
					<div class="team-social-icons">
               			<a class="fa fa-twitter-square" href="http://twitter.com/Minibarra">  </a>
                		<a class="fa fa-envelope" href="mailto:olivia.woolaway@minibarra.com">  </a>
                		<a class="fa fa-linkedin-square" href="https://www.linkedin.com/company/minibarra">  </a>
            		</div>	

			</div>
		</div>
	</div>
</div>