// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row {
	margin-left: 0px !important;
    margin-right: 0px !important;
}

.btn-primary {
	background-color: #119A65;
}

.nav .navbar-nav .navbar-right li .btn .btn-primary {
	color: blue;
}

.active-nav a {
	border-bottom: 3px solid #404040;
}

.hero-container {
	height: 95vh;
	padding-top: 25px;
	overflow: hidden;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#172f4b+44,b34e58+100 */
	background: #172f4b; /* Old browsers */
	background: -moz-linear-gradient(-45deg,    #172f4b 44%, #b34e58 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,    #172f4b 44%,#b34e58 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,    #172f4b 44%,#b34e58 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#172f4b', endColorstr='#b34e58',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.hero-container .cta {
	padding-top: 50px;
	text-align: center;
}

.hero-container .cta h1 {
	color: white;
}

.hero-container .cta h2 {
	color: white;
	font-size: 1.3em;
	font-weight: 300;
	line-height: 30px;
	margin-bottom: 25px;
}

.hero-container .cta a:hover {
	color: #404040;
}

.hero-container .cta .btn-primary {
	background-color: #119A65;
}

.hero-container .cta .btn-primary:hover {
	color: white;
	background-color: darken(#139A6C, 5%);
}

.hero-img-container {
	text-align: center;
}

.hero-img-container img {
	padding-left: 5%;
	padding-right: 5%;
	width: 90%;
}

.tablet-hero-img {
	display:none;
}

.image-container img {
	height: 70%;
}

.btn-container .btn-primary {
	margin: 5px;
}

.btn-container .btn-primary a {
	color: white;
}

	.btn-container .btn-primary:visited {
		color: white;
	}

.btn-container .btn-secondary {
	background: none;
	border: 1px solid white;
	margin: 5px;
}

	.btn-container .btn-secondary:hover {
		background: white;
		color: #404040;
	}

	.btn-container .btn-secondary a:hover {
		color: blue;
	}

	.btn-container .btn-secondary:visited {
		color: white;	
		border: white;
	}

/* Minibarra USP */

.minibarra-usp {
	padding: 25px;
	text-align: center;
}

.minibarra-usp p a {
	color: #139A6C;
	text-decoration: none;
	font-size: 1em;
	font-weight: 500;
	padding-bottom: 5px;
	transition: padding-bottom 0.1s ease;
}

.minibarra-usp p a:hover {
	border-bottom: 3px solid #139A6C;
	padding-bottom: 5px;
	background: transparent;
}

.minibarra-usp p a:active {
	border-bottom: 3px solid #139A6C;
	padding-bottom: 2px;
	background: transparent;
}

.seperator {
	border-top: 2px solid gray;
	width: 100%;
	height: 10px;
	background: blue;
}

.minibarra-usp h1 {
	margin-top: 75px;
	margin-bottom: 25px;
}

.minibarra-usp h4 {
	color: #8091A5;
	width: 100%;
	margin-bottom: 25px;
	font-weight: 500;
	font-size: 1.5em;
}

.minibarra-usp p {
	color: #404040;
	font-family: 'Open sans';
	font-weight: 500;
	font-size: 18px;
	padding: 5px 20px;
	line-height: 20px;
}

.minibarra-usp strong {
	font-weight: 600;
}

.minibarra-benefits {
	margin-top: 75px !important;
}

.minibarra-benefits .col-md-4 {
	margin-top: 100px;
}

.minibarra-benefits h4 {
	margin-top: 50px;
}

.minibarra-benefits p {
	color: gray;
	font-family: 'Open sans';
	font-weight: 500;
	font-size: 16px;
	padding: 5px 20px;
	line-height: 20px;
}


.invite {
	text-align: center;
}

.invite h1 {
	margin-top: 50px;
	margin-bottom: 15px;
}

.invite h4 {
	color: #8091A5;
	width: 100%;
	margin-bottom: 25px;
	font-weight: 500;
	font-size: 1.5em;
}

.white {
	background-color: white;
}

.gray {
	background-color: #f2f2f2;
}

.padding-side {
	padding-left: 10%;
	padding-right: 10%;
}

.padding-bottom {
	padding-bottom: 50px;
}

.sep-gray {
	background: #f2f2f2;
	padding-bottom: 50px;
	border-top: 1px solid #e8eaeb;
}

.sep-dark {
	background: #404040;
	padding-bottom: 50px;
	border-top: 1px solid #e8eaeb;
}

.sep-white {
	border-top: 1px solid #e8eaeb;
	background-color: white;
}

.btn-pricing {
	margin-top: 15px;
}

.btn-pricing a {
	text-decoration: underline;
	font-weight: 600;
}

.btn-pricing a:hover {
	background-color: white;
}

.minibarra-team {
	padding: 25px;
	text-align: center;
	
}

.minibarra-team h1 {
	margin-top: 50px;
	margin-bottom: 25px;
	color: white;
}

.minibarra-team h4 {
	width: 100%;
	margin-bottom: 25px;
	font-weight: 300;
	color: white;
}

.minibarra-team p {
	font-family: 'Courier';
	font-size: 1.2em;
	color: rgb(0, 227, 73);
	margin-bottom: 25px;
}


.minibarra-team .btn-container a:hover {
	color: #404040;
}


.image-wrap {
        max-height: 450px;
        max-width: 800px;             
        -webkit-transition: max-width .5s ease-out;    /* Saf3.2+, Chrome */
        -moz-transition: max-width .5s ease-out;    /* FF4+ */
        -ms-transition: max-width .5s ease-out;    /* IE10? */
        -o-transition: max-width .5s ease-out;    /* Opera 10.5+ */
        transition: max-width .5s ease-out;
}
 
        .image-wrap img {
                width: 100%;
                -webkit-transition: margin-top .5s ease-out;    /* Saf3.2+, Chrome */
                -moz-transition: margin-top .5s ease-out;    /* FF4+ */
                -ms-transition: margin-top .5s ease-out;    /* IE10? */
                -o-transition: margin-top .5s ease-out;    /* Opera 10.5+ */
                transition: margin-top .5s ease-out;
        }
         
@media only screen and (min-width: 1160px) {
        .image-wrap { max-width: 1000px; }
}


/* Pricing Table */

/***
Content
***/
.content {
        padding: 30px 0;
}

/***
Pricing table
***/
.pricing {
    position: relative;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 12px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    font-family: 'Open sans', sans-serif;
}

.pricing-active {
    border: 3px solid #119A65;
    margin-top: -10px;
    border-radius: 5px;
    
}

.pricing-active:hover {
    border: 3px solid #139A6C;
}

.pricing:hover {
	box-shadow: 1px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.pricing:hover h4 {
    color: #139A6C;
}

.pricing-head {
    text-align: center;
    border-radius: 5px;
}

.pricing-head h3,
.pricing-head h4 {
    margin: 0;
    line-height: normal;
    
}

.pricing-head h3 span,
.pricing-head h4 span {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
}

.pricing-head h3 {
    color: #fafafa;
    padding: 12px 0;
    font-size: 22px;
    background: #ff5f5e;
    border-bottom: solid 1px #ff5f5e;
    font-weight: 600;
}

.pricing-head h4 {
    color: #404040;
    padding: 5px 0;
    font-size: 54px;
    font-weight: 600;
    background: #eee;
    border-bottom: solid 1px #D7D7D7;
}


.pricing-head-active h4 {
	color: #119A65;
	border-bottom: solid 1px #D7D7D7;
}

.pricing-head-active h3 {
	background: #119A65;
	border: none;
}

.pricing-head h4 i {
    top: -8px;
    font-size: 28px;
    font-style: normal;
    position: relative;
}

.pricing-head h4 span {
    top: -10px;
    font-size: 14px;
    font-style: normal;
    position: relative;
}

/*Pricing Content*/

.pricing-content {
	padding-top: 10px;
}
.pricing-content li {
    color: #888;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    font-family: 'Open sans', sans-serif;
    padding: 5px 15px;
}

/*Pricing Footer*/
.pricing-footer {
    color: #777;
    font-size: 11px;
    line-height: 17px;
    text-align: center;
    padding: 0 20px 19px;
    font-family: 'Open sans', sans-serif;
    font-size: 12px;
}

/*Priceing Active*/
.price-active,
.pricing:hover {
    z-index: 9;
}

.price-active h4 {
    color: #139A6C;
}

.no-space-pricing .pricing:hover {
    transition: box-shadow 0.2s ease-in-out;
}

.no-space-pricing .price-active .pricing-head h4,
.no-space-pricing .pricing:hover .pricing-head h4 {
    color: #139A6C;
    padding: 15px 0;
    font-size: 80px;
    transition: color 0.5s ease-in-out;
}

.yellow-crusta.btn {
    color: #FFFFFF;
    background-color: #139A6C;
}
.yellow-crusta.btn:hover,
.yellow-crusta.btn:focus,
.yellow-crusta.btn:active,
.yellow-crusta.btn.active {
    color: #FFFFFF;
    background-color: #139A6C;
}

.pricing-footer p {
	font-size: 12px;
	font-weight: 600;
	border-radius: 3px;
	border: 2px solid darken(#FFD23F, 15%);
	background-color: #FFD23F;
	margin: 0 15%;
	margin-top: -8px;
	color: #404040;
}

.pricing-footer:hover p {
	background-color: #FFD23F;
}

.pricing .btn-container .btn-secondary {
	border: 1px solid #404040;
	color: #404040;
}

.pricing .btn-container .btn-secondary:hover {
	background-color: #404040;
	color: white;
}

.notice p {
	margin-top: 25px;
	text-align: center;
	font-family: 'Open sans', sans-serif;
}

.runner-container .runner-text {
	text-align: left;
}

.runner-container .runner-text h3 {

}

.runner-container .runner-text h5 {
	font-weight: 500;
	
	font-size: 1.2em;
	line-height: 18px;
}

.runner-container .runner-img img {
	width: 128px;
}

/* Enterprise */

.blue-pane-gradient {
	background-color: #ff5f5e;
	text-align: center;
	padding: 50px;
	background-image: linear-gradient(#1F9BFC , #197ECD);
}


.blue-pane-gradient h2 {
	color: white;
	font-weight: 600;
	font-size: 250%;
	text-align: center;	
}

.blue-pane-gradient h4 {
	color: white;
	font-size: 150%;
	font-weight: 600;
	text-align: center;	
	margin-bottom: 25px;
}

.blue-pane-gradient p {
	color: white;
	font-family: 'Open sans', sans-serif;
	font-weight: 500;
	font-size: 16px;
	margin-bottom: 50px;
}

/* Footer */

.footer-red {
	background-color: #ff5f5e;
	padding: 5%;
	color: white;
}

.footer-red .logo {
	font-family: 'Pacifico', sans-serif;
	color: white;
	font-size: 200%;
}

.footer-red .logo-container {
	padding-bottom: 25px;
	border-bottom: 1px solid white;
	margin-bottom: 25px;
}

.footer-red .social-icons {
	padding: 5%;
}

.footer-red .social-icons a {
	color: white;
	padding: 5px;
	font-size: 24px;
}

.footer-red .social-icons a:hover {
	color: white;
	background: #ff5f5e;
	text-decoration: none;
}

.footer-red .links p {
	margin-bottom: 12px;
	font-weight: 500;
	font-family: 'Open sans', sans-serif;
}

.footer-red .links a {
	color: white;
	text-decoration: underline;
}

.footer-red .links a:hover {
	background-color: #ff5f5e;
}
/* ACCORDION */ 

.heading-primary {
	font-size: 2em;
	padding: 2em;
	text-align: center;
}
.accordion dl,
.accordion-list {
	border: 1px solid #ddd;
	&:after {
		content: "";
		display: block;
		height: 1em;
		width: 100%;
		background-color: darken(#119A65, 10%);
     }
}
.accordion dd,
.accordion__panel {
   background-color: #eee;
   font-size: 1em;
   line-height: 1.5em; 
}
.accordion p {
  padding: 1em 2em 1em 2em;
}

.accordion {
    position: relative;
    background-color: #eee;
}
.faq-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 2em 0 2em 0;
}

.accordionTitle,
.accordion__Heading {
	background-color: #119A65; 
	text-align: center;
	font-weight: 700; 
	padding: 2em;
	display: block;
	text-decoration: none;
	color: #fff;
	transition: background-color 0.5s ease-in-out;
	border-bottom: 1px solid darken(#119A65, 5%);
		&:before {
			content: "+";
			font-size: 1.5em;
			line-height: 0.5em;
			float: left; 
			transition: transform 0.3s ease-in-out;
 			 }
		&:hover {
   			background-color: darken(#119A65, 10%);
  		}
}

.accordionTitle:active {
	color: white;
}

.accordionTitle:visited {
	color: white;
}

.accordionTitle:hover {
	color: white;
}

.accordionTitleActive, 
.accordionTitle.is-expanded {
	background-color: darken(#119A65, 10%);
    	&:before {
     		transform: rotate(-225deg);
    	}
}

.accordionItem {
    height: auto;
    overflow: hidden; 
    max-height: 50em;
    transition: max-height 1s;   
    
    @media screen and (min-width:48em) {
         max-height: 15em;
        transition:max-height 0.5s
    }
}

.accordionItem p {
	color: #404040;
	font-family: "Open sans", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5em;
} 

.accordionItem.is-collapsed {
    max-height: 0;
}

.no-js .accordionItem.is-collapsed {
  max-height: auto;
}

.animateIn {
     animation: accordionIn 0.45s normal ease-in-out both 1; 
}

.animateOut {
     animation: accordionOut 0.45s alternate ease-in-out both 1;
}

@keyframes accordionIn {
	0% {
		opacity: 0;
		transform: scale(0.9) rotateX(-60deg);
		transform-origin: 50% 0;
	}
	100% {
		opacity:1;
		transform: scale(1);
	}
}

@keyframes accordionOut {
    0% {
       opacity: 1;
       transform: scale(1);
     }
     100% {
          opacity:0;
           transform: scale(0.9) rotateX(-60deg);
       }
}

/* Team */
/* team is also used on support pages */
.team {
	margin-bottom: 50px;
}

.team p {
	font-size: 16px;
	margin: 0 15%;
}

.team-container {
	padding: 5%;
}

.team-member {
	width: 100%;
	background-color: white;
	padding: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	text-align: center;
	margin-bottom: 25px;
	border-radius: 5px;
}

.team-member:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.team-member img {
	width: 100%;
	margin-bottom: 15px;
}

.team-member h4 {

}

.team-member h6 {
	color: #8091A5;
}

.team-member p {
	font-family: 'Open sans', sans-serif;
	padding: 0 5%;
	font-size: 12px;
	margin: 25px 0;
}

.team-member p a {
	font-size: 1em;
}

.team-member .support-icon {
	font-size: 50px;
	color: #ff5f5e;
}

.team-social-icons {
	margin-bottom: 10px;
}

.team-social-icons a {
	color: #ff5f5e;
	font-size: 1.2em;
	transition: color 0.2s ease-in-out;

}

.team-social-icons a:visited {
	color: #ff5f5e;
}

.team-social-icons a:hover {
	color: darken(#ff5f5e, 10%);
	background-color: white;
	text-decoration: none;
}

.group-title-wrap {
	text-align: right;
	width: 50%;
	float: right;
	margin-top: 20px;

	h4 {
		color: #8091A5;
		font-weight: 300;
		line-height: 22px;
	}
}

.group-title-responsive {
	display: none;
}

.feature-group {
	height: 100%;
	padding: 10px;
	padding-bottom: 50px;
}

.feature {
	width: 50%;
	padding: 15px;
	display: block;
	float: left;
}

.feature h4 {
	font-size: 1.2em;
}

.feature p span {
	color: hsl(157, 80%, 34%);
}

.feature i {
	padding: 5px;
	border-radius: 5px;
	color: white;
	margin-right: 7.5px;
}

/* Feature Group One */

.feature-group-one .feature:nth-child(1) i {
	background-color: hsl(157, 80%, 34%);
}

.feature-group-one .feature:nth-child(2) i {
	background-color: hsl(162, 80%, 34%);
}

.feature-group-one .feature:nth-child(3) i {
	background-color: hsl(167, 80%, 34%);
}

.feature-group-one .feature:nth-child(4) i {
	background-color: hsl(172, 80%, 34%);
}

/* Feature Group Two */

.feature-group-two .feature:nth-child(1) i {
	background-color: hsl(177, 80%, 34%);
}

.feature-group-two .feature:nth-child(2) i {
	background-color: hsl(182, 80%, 34%);
}

.feature-group-two .feature:nth-child(3) i {
	background-color: hsl(187, 80%, 34%);
}

.feature-group-two .feature:nth-child(4) i {
	background-color: hsl(192, 80%, 34%);
}

.feature-group-two .feature:nth-child(5) i {
	background-color: hsl(192, 80%, 34%);
}

.feature-group-two .feature:nth-child(6) i {
	background-color: hsl(200, 80%, 34%);
}

/* Feature Group Three */

.feature-group-three .feature:nth-child(1) i {
	background-color: hsl(255, 80%, 34%);
}

.feature-group-three .feature:nth-child(2) i {
	background-color: hsl(285, 80%, 34%);
}

.feature-group-three .feature:nth-child(3) i {
	background-color: hsl(300, 80%, 34%);
}

.feature-group-three .feature:nth-child(4) i {
	background-color: hsl(315, 80%, 34%);
}

.img-container {
	text-align: center;
	margin-top: 50px;
	overflow: hidden;
}

.img-container img {
	width: 100%;
}

.img-margin-top {
	margin-top: -50px;
}

/* Team Bio's */

.bio {
  height: 50px;
}

@media screen and (min-width: 1px) and (max-width: 767px) {	
	
	.feature {
		width: 50%;
		display: block;
		float: left;
		padding: 5px;
	}
	
	.group-title-responsive {
		display: block;
		text-align: center;
	}

	.group-title-wrap {
		display: none;
	}

	.minibarra-benefits {
    	padding: 0;
	}

  .bio {
    height: 50px;
  }
}

@media screen and (min-width: 730px) and (max-width: 768px) {	
	.hero-img-container img {
		display: none;
	}

	.tablet-hero-img {
		display:block;
		text-align: center;
	}

	.tablet-hero-img img {
		width: 90%;
		padding-left: 10%;
		padding-right: 10%;
	}

	.team-container { 
			padding: 0;
	}
}

@media screen and (min-width: 768px) and (max-width: 1000px) { 
  .bio {
    height: 100px !important;
  }    
}

@media screen and (min-width: 1px) and (max-width: 729px) {	
	.hero-img-container img {
		display: none;
	}
}


/* Worth is Calculator */

.jumbotron .worthCalculator p {
	font-size: 14px;
}

.jumbotron .worthCalculator input {
	width: 40px;
}

.jumbotron .worthCalculator .btn-container a {
	text-align: center !important;
}

/*
  TypedJS
*/

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

