// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hero-container {
	height: 90vh;
	padding-top: 50px;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#172f4b+44,b34e58+100 */
background: #172f4b; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #172f4b 44%, #b34e58 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #172f4b 44%,#b34e58 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #172f4b 44%,#b34e58 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#172f4b', endColorstr='#b34e58',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.hero-container .cta {
	padding-top: 150px;
	padding-left: 20%;
	text-align: right;
}

.hero-container .cta h1 {
	color: white;
}

.hero-container .cta h2 {
	color: white;
	font-size: 1.2em;
	font-weight: 300;
	line-height: 30px;
	margin-bottom: 25px;
}

.image-container img {
	height: 70%;
}

.btn-container .btn-primary {
	margin: 5px;
}

	.btn-container .btn-primary:visited {
		color: white;
	}

.btn-container .btn-secondary {
	background: none;
	border: 1px solid white;
	margin: 5px;
}

	.btn-container .btn-secondary:hover {
		background: white;
		color: #404040;
	}

	.btn-container .btn-secondary:visited {
		color: white;	
		border: white;
	}

/* Minibarra USP */

.minibarra-usp {
	padding: 25px;
	text-align: center;

}

.seperator {
	border-top: 2px solid gray;
	width: 100%;
	height: 10px;
	background: blue;
}

.minibarra-usp h1 {
	margin-top: 50px;
	margin-bottom: 15px;
}

.minibarra-usp h4 {
	color: gray;
	width: 100%;
	margin-bottom: 25px;
}

.minibarra-benefits {
	padding: 0% 10%;
}

.minibarra-benefits .col-md-4 {
	margin-top: 75px;
}

.minibarra-benefits h4 {
	margin-top: 50px;
}

.minibarra-benefits p {
	color: grey;
	font-family: 'Open sans';
	font-weight: 500;
	font-size: 16px;
	padding: 5px 20px;
	line-height: 20px;
}


.invite {
	text-align: center;
}

.invite h1 {
	margin-top: 50px;
	margin-bottom: 15px;
}

.invite h4 {
	color: gray;
	width: 100%;
	margin-bottom: 25px;
}

.sep-gray {
	background: #f2f2f2;
	padding-bottom: 50px;
	border-top: 2px solid #D7D7D7;
}

.sep-dark {
	background: #404040;
	padding-bottom: 50px;
	border-top: 2px solid #D7D7D7;
}

.sep-white {
	border-top: 2px solid #D7D7D7;
	background-color: white;
}

.btn-pricing {
	margin-top: 15px;
}

.btn-pricing a {
	text-decoration: underline;
	font-weight: 600;
}

.btn-pricing a:hover {
	background-color: white;
}

.minibarra-team {
	padding: 25px;
	text-align: center;
	
}

.minibarra-team h1 {
	margin-top: 50px;
	margin-bottom: 25px;
	color: white;
}

.minibarra-team p {
	font-family: 'Courier';
	font-size: 1.2em;
	color: rgb(0, 227, 73);
	margin-bottom: 25px;
}
.minibarra-team h4 {
	width: 100%;
	margin-bottom: 25px;
	font-weight: 300;
	color: white;
}
