<footer>
	<div class="fixed-nav-bar-wrap">
		<div class="fixed-nav-bar">
			<div class="col-xs-3">
				<a href="/ticks?stage=Morning">
				<div class="fixed-nav-bar-item">
					<i class="fa fa-check-square-o"></i>
					<p>Today</p>
				</div>
				</a>
			</div>
			<div class="col-xs-3">
				<a href="/ticks?active=false">
				<div class="fixed-nav-bar-item">
					<i class="fa fa-book"></i>
					<p>Reports</p>
				</div>
				</a>
			</div>
			<div class="col-xs-3">
				<a href="/tasks">
				<div class="fixed-nav-bar-item">
					<i class="fa fa-pencil-square-o"></i>
					<p>Tasks</p>
				</div>
				</a>
			</div>
			<div class="col-xs-3">
				<%= link_to edit_user_registration_path do %>
				<div class="fixed-nav-bar-item">
					<i class="fa fa-user-circle-o"></i>
					<p>Account</p>
				</div>

				<% end %>
			</div>
		</div>
	</div>
	<div class="bottom-padding">
		
	</div>

</footer>